[mysqld]
bind-address = 0.0.0.0

# Autres configurations recommandées

# Définit le mode SQL pour éliminer les comportements imprévisibles et les conversions de types non standard
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

# Définit le nombre de connexions simultanées autorisées
max_connections = 151

# Utiliser la configuration UTF-8 par défaut pour le support de caractères multilingues
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Activer les logs d'erreur pour le débogage et la maintenance
log_error = /var/log/mysql/error.log
